In [1]:
import pandas as pd
import numpy as np

In [18]:
colunas = ['existing_checking_account','duration_month', 'credit_history', 'purpose', 'credit_amount', 'saving_account', 'present_employment_since', 'disposable_income_rate', 
           'personal_status_and_sex', 'debtors_guarantor','present_residence_since','property','age','installment_plans','housing','credits_this_bank',
           'job','people_provide_manutenance','telephone','foreign_worker', 'class']

In [19]:
df = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/statlog/german/german.data', names = colunas, sep=' ', header = None)
df.head()

,existing_checking_account,duration_month,credit_history,purpose,credit_amount,saving_account,present_employment_since,disposable_income_rate,personal_status_and_sex,debtors_guarantor,...,property,age,installment_plans,housing,credits_this_bank,job,people_provide_manutenance,telephone,foreign_worker,class
0,A11,6,A34,A43,1169,A65,A75,4,A93,A101,...,A121,67,A143,A152,2,A173,1,A192,A201,1
1,A12,48,A32,A43,5951,A61,A73,2,A92,A101,...,A121,22,A143,A152,1,A173,1,A191,A201,2
2,A14,12,A34,A46,2096,A61,A74,2,A93,A101,...,A121,49,A143,A152,1,A172,2,A191,A201,1
3,A11,42,A32,A42,7882,A61,A74,2,A93,A103,...,A122,45,A143,A153,1,A173,2,A191,A201,1
4,A11,24,A33,A40,4870,A61,A73,3,A93,A101,...,A124,53,A143,A153,2,A173,2,A191,A201,2

In [24]:
for coluna in ['existing_checking_account', 'credit_history', 'purpose', 'saving_account', 'present_employment_since', 
           'personal_status_and_sex', 'debtors_guarantor','property','installment_plans','housing',
           'job','telephone','foreign_worker']:
    df[coluna] = df[coluna].astype('category')
df.describe()

,duration_month,credit_amount,disposable_income_rate,present_residence_since,age,credits_this_bank,people_provide_manutenance,class
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,20.903000,3271.258000,2.973000,2.845000,35.546000,1.407000,1.155000,1.300000
std,12.058814,2822.736876,1.118715,1.103718,11.375469,0.577654,0.362086,0.458487
min,4.000000,250.000000,1.000000,1.000000,19.000000,1.000000,1.000000,1.000000
25%,12.000000,1365.500000,2.000000,2.000000,27.000000,1.000000,1.000000,1.000000
50%,18.000000,2319.500000,3.000000,3.000000,33.000000,1.000000,1.000000,1.000000
75%,24.000000,3972.250000,4.000000,4.000000,42.000000,2.000000,1.000000,2.000000
max,72.000000,18424.000000,4.000000,4.000000,75.000000,4.000000,2.000000,2.000000

count    1000.000000
mean        1.300000
std         0.458487
min         1.000000
25%         1.000000
50%         1.000000
75%         2.000000
max         2.000000
Name: class, dtype: float64

In [13]:
import scipy as sp
from sklearn.model_selection import train_test_split
from matplotlib import pyplot as plt
from sklearn import svm

from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score, recall_score, precision_score, f1_score
from sklearn.metrics import roc_auc_score, average_precision_score, roc_curve

import seaborn as sns

In [34]:
#divindindo dataset em teste e treino
data2 = df

X = data2.loc[:, data2.columns !='class']
y = data2.iloc[:, data2.columns == 'class']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=1/4, random_state=42, stratify=y)

X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=1/3, random_state=42, stratify=y_train)

print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(500, 20) (250, 20) (500, 1) (250, 1)

In [31]:
#mlp
from sklearn.neural_network import MLPClassifier

from keras.models import Sequential
from keras.layers import Dense
from keras.callbacks import EarlyStopping

C:\Users\eduar\Anaconda3\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [35]:
input_dim = X_train.shape[1]

mlp = Sequential()

mlp.add(Dense(8,activation='relu',input_dim = input_dim))
mlp.add(Dense(8,activation='relu'))
mlp.add(Dense(8,activation='relu'))
mlp.add(Dense(8,activation='relu'))
mlp.add(Dense(1, activation='sigmoid'))
mlp.compile(optimizer='adam',loss='mean_squared_error')

history = mlp.fit(X_train, y_train, batch_size=64, epochs= 100,callbacks=[EarlyStopping(patience=100)], validation_data=[X_val,y_val])

Train on 500 samples, validate on 250 samples
Epoch 1/100

ValueError: could not convert string to float: 'A201'