In [8]:
import pandas as pd
import numpy as np
import wget

ModuleNotFoundError: No module named 'wget'

In [11]:
colunas = ['seq_name','mcg', 'gvh', 'alm', 'mit', 'erl', 'pox', 'vac', 'nuc']

#basecodigo: https://dataplatform.cloud.ibm.com/data/notebooks/converter/jupyter/7a9ce22f-18cb-44aa-aaad-b3a8e839b543?access_token=263c7adf1c08bac182e15125e4fc667a1d44fca12b1af8b2aafe19ec7818755d

In [10]:
#lendo dataset
df = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/yeast/yeast.data', header = None, names = colunas, sep=',')
df

,seq_name,mcg,gvh,alm,mit,erl,pox,vac,nuc
0,ADT1_YEAST 0.58 0.61 0.47 0.13 0.50 0.00...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ADT2_YEAST 0.43 0.67 0.48 0.27 0.50 0.00...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ADT3_YEAST 0.64 0.62 0.49 0.15 0.50 0.00...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AAR2_YEAST 0.58 0.44 0.57 0.13 0.50 0.00...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AATM_YEAST 0.42 0.44 0.48 0.54 0.50 0.00...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,AATC_YEAST 0.51 0.40 0.56 0.17 0.50 0.50...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,ABC1_YEAST 0.50 0.54 0.48 0.65 0.50 0.00...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,BAF1_YEAST 0.48 0.45 0.59 0.20 0.50 0.00...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,ABF2_YEAST 0.55 0.50 0.66 0.36 0.50 0.00...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,ABP1_YEAST 0.40 0.39 0.60 0.15 0.50 0.00...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,ACE1_YEAST 0.43 0.39 0.54 0.21 0.50 0.00...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,ACE2_YEAST 0.42 0.37 0.59 0.20 0.50 0.00...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,ACH1_YEAST 0.40 0.42 0.57 0.35 0.50 0.00...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,ACON_YEAST 0.60 0.40 0.52 0.46 0.50 0.00...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,ACR1_YEAST 0.66 0.55 0.45 0.19 0.50 0.00...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,ACT_YEAST 0.46 0.44 0.52 0.11 0.50 0.00...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,ACT2_YEAST 0.47 0.39 0.50 0.11 0.50 0.00...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,ACT3_YEAST 0.58 0.47 0.54 0.11 0.50 0.00...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,ACT5_YEAST 0.50 0.34 0.55 0.21 0.50 0.00...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,ADA2_YEAST 0.61 0.60 0.55 0.21 0.50 0.00...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,C1TC_YEAST 0.45 0.40 0.50 0.16 0.50 0.00...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,PUR4_YEAST 0.43 0.44 0.48 0.22 0.50 0.00...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,PUR3_YEAST 0.73 0.63 0.42 0.30 0.50 0.00...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,ADH1_YEAST 0.43 0.53 0.52 0.13 0.50 0.00...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,ADH2_YEAST 0.46 0.53 0.52 0.15 0.50 0.00...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,ADH3_YEAST 0.51 0.51 0.52 0.51 0.50 0.00...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,ADH4_YEAST 0.59 0.45 0.53 0.19 0.50 0.00...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,KAD1_YEAST 0.57 0.47 0.60 0.18 0.50 0.00...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,KAD2_YEAST 0.63 0.67 0.57 0.24 0.50 0.00...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,ADP1_YEAST 0.80 0.88 0.36 0.39 0.50 0.00...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
1454,MAOX_YEAST 0.57 0.59 0.49 0.86 0.50 0.00...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1455,YKD8_YEAST 0.38 0.40 0.39 0.19 0.50 0.00...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1456,YKE6_YEAST 0.77 0.74 0.37 0.29 0.50 0.00...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1457,TCTP_YEAST 0.47 0.38 0.58 0.19 0.50 0.00...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1458,PMT_YEAST 0.50 0.61 0.44 0.20 0.50 0.00...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1459,YKM9_YEAST 0.41 0.45 0.46 0.23 0.50 0.00...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1460,YKN4_YEAST 0.46 0.62 0.46 0.54 0.50 0.00...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1461,YKS8_YEAST 0.74 0.75 0.45 0.44 0.50 0.00...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1462,ACP_YEAST 0.52 0.53 0.58 0.69 0.50 0.00...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1463,YKW2_YEAST 0.41 0.47 0.50 0.14 0.50 0.00...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1464,YKY8_YEAST 0.25 0.40 0.52 0.15 0.50 0.00...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1465,YK44_YEAST 0.58 0.56 0.38 0.39 0.50 0.00...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1466,YK68_YEAST 0.32 0.29 0.29 0.08 0.50 0.00...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1467,RL13_YEAST 0.38 0.48 0.57 0.30 0.50 0.00...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1468,YMC1_YEAST 0.39 0.58 0.47 0.18 0.50 0.00...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1469,YMC2_YEAST 0.38 0.47 0.47 0.18 0.50 0.00...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1470,YME1_YEAST 0.63 0.57 0.50 0.48 0.50 0.00...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1471,RMR3_YEAST 0.51 0.45 0.62 0.25 0.50 0.00...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1472,YOX1_YEAST 0.59 0.67 0.54 0.19 0.50 0.00...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1473,YPT1_YEAST 0.60 0.61 0.54 0.11 0.50 0.00...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1474,YP52_YEAST 0.48 0.61 0.57 0.17 0.50 0.00...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1475,YP53_YEAST 0.71 0.50 0.50 0.18 0.50 0.00...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1476,YPT7_YEAST 0.61 0.48 0.54 0.25 0.50 0.00...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1477,R29A_YEAST 0.38 0.32 0.64 0.41 0.50 0.00...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1478,R29B_YEAST 0.38 0.40 0.66 0.35 0.50 0.00...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1479,YUR1_YEAST 0.81 0.62 0.43 0.17 0.50 0.00...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1480,ZIP1_YEAST 0.47 0.43 0.61 0.40 0.50 0.00...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1481,ZNRP_YEAST 0.67 0.57 0.36 0.19 0.50 0.00...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1482,ZUO1_YEAST 0.43 0.40 0.60 0.16 0.50 0.00...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1483,G6PD_YEAST 0.65 0.54 0.54 0.13 0.50 0.00...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN